<div class="modal-header border-0"><button class="btn-close" (click)="activeModal.dismiss()"></button></div>
<div class="modal-body pb-5">
    <div class="container">
        <div class="justify-content-center">
                <!-- Title-->
                <h2 class="portfolio-modal-title text-secondary text-center text-uppercase mb-0"><a href="https://www.up.com" target="_blank">Union Pacific Railroad</a></h2>
                <h5 class="text-secondary text-center text-uppercase mb-0">Omaha, NE</h5>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><fa-icon [icon]="faTrain"></fa-icon></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Experience Modal - Body-->
                <div class="row text-left">
                    <div class="col-lg-6">
                        <div class="ms-3 mb-1">
                            <h6 class="text-uppercase text-secondary mb-0">Software Development Summer Internships</h6>
                            <h6 class="text-uppercase text-secondary mb-0"><span class="badge bg-secondary">Summer 2016</span> & <span class="badge bg-secondary">Summer 2017</span></h6>
                            <!-- <span class="text-muted font-italic mb-0">Python, Java, TwinCAT PLCs</span> -->
                        </div>
                        <ul class="mb-4">
                            <li>Developed a machine learning model using <a href="https://scikit-learn.org/stable/" target="_blank">sci-kit</a> to predict & control car speeds in hump yards</li>
                            <li>Created Java middleware to send & recieve data through Enterprise Event Bus</li>
                            <li>Produced a dashboard for TwinCAT PLCs in Structured Text to display status of hump yards equipment</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="ms-3">
                            <h6 class="text-uppercase text-secondary">Humpyard Services Year-Round Internship</h6>
                            <h6 class="text-uppercase text-secondary"><span class="badge bg-secondary">Aug 2016 - Feb 2017</span></h6>
                        </div>
                        <ul class="mb-4">
                            <li>Wrote a desktop application used by technicians to calculate & record accurate GPS coordinates</li>
                            <li>Continued work on ML model & PLC software from summer internships</li>
                        </ul>
                    </div>                          
            </div>
        </div>
    </div>
</div>