<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">St. Louis, MO</p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Connect</h4>
        <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faFacebook"></fa-icon></a>
                          <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faTwitter"></fa-icon></a> -->
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/jakebeinart/"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://github.com/jakebeinart/"
          ><fa-icon [icon]="faGithub"></fa-icon
        ></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Contact</h4>
        <p class="lead mb-0">
          <a href="mailto:jakebeinart@gmail.com">jake.beinart@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
