<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img
      class="masthead-avatar mb-5"
      src="assets/img/avataaars.png"
      alt="..."
    />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">Jake Beinart</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">
      Senior Software Engineer at AT&T
    </p>
    <p class="masthead-subheading font-weight-light mb-0">
      Master's Student at Washington University
    </p>
  </div>
</header>
