<section class="page-section" id="contact">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      About Me
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <fa-icon [icon]="faAddressCard"></fa-icon>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
      <div
        class="col-lg-5 offset-lg-1 order-lg-0 order-md-1 order-sm-1 order-xs-1 font-weight-light fs-5"
      >
        Hi, my name is Jake and I enjoy putting code to work for me.
        <br />
        <br />
        My passion for programming first struck when I began programming games
        for the TI-84 (graphing calculator) around 2012. Between then and now
        I've built numerous websites, enterprise middleware, native Windows
        applications, dashboards, and much more.
        <br /><br />
        I am currently focused on creating responsive, modular, and efficient
        Angular products at
        <a href="https://www.att.com/" targer="_blank">AT&T</a>.
      </div>
      <div class="col-lg-5 align-items-center mb-5">
        <div
          style="
            border-radius: 1rem;
            border: 13px solid #1a252f;
            width: fit-content;
            background-color: #1a252f;
          "
          class="mx-auto"
        >
          <img
            src="assets/img/headshot.jpg"
            class="propic"
            style="max-width: 250px; min-width: 150px; border-radius: 0.5rem"
          />
        </div>
      </div>
    </div>
  </div>
</section>
