<div class="modal-header border-0"><button class="btn-close" (click)="activeModal.dismiss()"></button></div>
<div class="modal-body pb-5">
    <div class="container">
        <div class="justify-content-center">
                <!-- Title-->
                <h2 class="portfolio-modal-title text-secondary text-center text-uppercase mb-0"><a href="https://www.mst.edu" target="_blank">Missouri University of Science & Technology</a></h2>
                <h5 class="text-secondary text-center text-uppercase mb-0">Rolla, MO</h5>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><fa-icon [icon]="faUserGraduate"></fa-icon></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row"> 
                    <div class="col-4 text-start"><span class="badge bg-secondary">3.84 GPA</span></div>
                    <div class="col-4 text-center">BS - Computer Science</div>
                    <div class="col-4 text-end"><span class="badge bg-secondary">2014 - May 2018</span></div>
                </div>
                <!-- Experience Modal - Body-->
                <div class="row text-left">
                    <div class="col-lg-6">
                        <div class="ms-3 mb-1">
                            <h6 class="text-uppercase text-secondary mb-0">Senior - Software Engineer</h6>
                            <h6 class="text-uppercase text-secondary mb-0"><span class="badge bg-secondary">Aug 2021 - Present</span></h6>
                            <!-- <span class="text-muted font-italic mb-0">Python, Java, TwinCAT PLCs</span> -->
                        </div>
                        <ul class="mb-4">
                            <li>Fleet stuff</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="ms-3">
                            <h6 class="text-uppercase text-secondary">Sr Specialist - Software Engineer</h6>
                            <h6 class="text-uppercase text-secondary"><span class="badge bg-secondary">Jun 2019 - Aug 2021</span></h6>
                        </div>
                        <ul class="mb-4">
                            <li>Fleet stuff again</li>
                        </ul>
                    </div>                          
                    <div class="col-lg-6">
                        <div class="ms-3">
                            <h6 class="text-uppercase text-secondary">Tech Development Program Engineer I</h6>
                            <h6 class="text-uppercase text-secondary"><span class="badge bg-secondary">Jun 2018 - Jun 2019</span></h6>
                        </div>
                        <ul class="mb-4">
                            <li>OKM stuff</li>
                        </ul>
                    </div>                          
            </div>
        </div>
    </div>
</div>